.signin {
  display: block;
  background-color: #e50914;
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  border-radius: 3px;
  line-height: normal;
  cursor: pointer;
  font-weight: 420;
  height: 0.95 rem;
  padding: 0.25rem 0.5rem;
}



@media only screen and (min-width: 500px) {
  .signin{
    height: auto;
    padding: 0.43rem 1.1rem;
    font-size: 1rem;
  }
}
