.signin {
  display: block;
  background-color: #e50914;
  color: white;
  height: auto;
  border: 0;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.35rem 0.75rem;
  border-radius: 3px;
  line-height: normal;
  font-weight: 450;
}


@media only screen and (max-width: 599px) {
  .signin{
    height: 0.95 rem;
    padding: 0.25rem 0.5rem;
  }
}
