.signin {
  display: block;
  background-color: #e50914;
  color: white;
  height: auto;
  font-size: 1rem;
  text-decoration: none;
  padding: 0.43rem 1.1rem;
  border-radius: 3px;
  line-height: normal;
  font-weight: 420;
}


@media only screen and (max-width: 500px) {
  .signin{
    height: 0.95 rem;
    padding: 0.25rem 0.5rem;
  }
}
