.inputDark input {
  background-color: #333;
  color: #fff;
  height: 100%;
  border: 0;
  padding: 16px 20px 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.inputDark input:focus {
  outline: none;
}

.inputDark label {
  left: 20px;
  margin: 0;
}

.inputDark {
  height: 50px
}

.inputIdentification {
  padding-bottom: 16px;
}

.inputPassword {
  padding-bottom: 16px;
}


.signinBtn {
  margin: 24px 0 12px 0;
  font-weight: 550;
  font-size: 16px;
}

.errorMsg {
  color: darkorange;
  font-size: 13px;
  padding: 6px 3px;
}

@media screen and (min-width: 450px) and (max-width: 739px) {
  .inputDark label{
    font-size: 14px;
  }
}

@media screen and (min-width: 740px) {
  .inputDark {
    min-width: 100%
  }

  .inputDark label{
    font-size: 16px;
  }
}
