.info-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 30%;
  z-index: 10;
  width: 37%;
  padding-left: 4%;

}

.info-title {
  margin: 0;
  padding: 0;
  font-size: 4vw;
}

.info-description {
  font-size: 1.5vw;
  margin-top: 5px;
  user-select: none;
}

.moreInfo {
  text-decoration: none;
  color: #FFF;
  background-color: #6d6d6e;
  font-size: 6px;
  padding: 0.2rem;
  border-radius: 5px;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.moreInfo:hover {
  background-color: rgba(110, 110, 110, 0.5);
}

.info-animation-container {
  position:relative;
}

@media screen and ( min-width: 500px) {


  .info-title {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
  }


  .info-description {
    font-size: 1.25vw;
    margin-top: 8px;
  }

  .moreInfo {
    padding: 0.4rem;
    font-size: 9px;
    width: 60px;
  }

}

@media screen and  ( min-width: 950px) {


  .info-title {
    margin: 0;
    padding: 0;
    font-size: 3vw;
  }


  .info-description {
    font-size: 1.1vw;
    margin-top: 8px;
  }

  .moreInfo {
    font-size: 12px;
    width: 80px;
  }


}



@media screen and  ( min-width: 1440px) {

  .info-container {
    padding-left: 60px;
  }

  .info-title {
    margin: 0;
    padding: 0;
    font-size: 3.5vw;
  }


  .info-description {
    font-size: 1.2vw;
    margin-top: 8px;
  }

  .moreInfo {
    font-size: 14px;
    width: 100px;
  }


}
