.signupWrapper {
  margin: 0 auto;
  padding-bottom: 20px;
}

.emailSignup {
  display: flex;
  flex-direction: column;
  position:relative;
  justify-content: center;
  align-items: center;
  gap: 1em;
  max-width: 500px;
  margin: 0 auto;

}

.promotionMsg {
  display: block;
  text-align: center;
  font-size: 1.125em;
  padding-bottom: 20px;
  font-weight: 400;
  max-width: 700px;
  margin: 0 auto;
}

.getStarted {
  font-size: 1em;
  background-color: #e50914;
  color: #fff;
  border: none;
  padding: 0 1em;
  min-height: 40px;
  line-height: 40px;
  border-radius: 3px;
  width: fit-content;
}


@media screen and (min-width: 550px) {

  .promotionMsg {
    font-size: 18px;
    padding: 0 10%;
    padding-bottom: 10px;
  }

}

@media screen and (min-width: 740px) {

  .promotionMsg {
    font-size: 23px;
    padding: 0 15%;
    padding-bottom: 10px;
  }

}

@media screen and (min-width: 950px) {
  .emailSignup {
    flex-direction: row;
    gap: 0;
  }
  .signupWrapper {
    padding-bottom: 30px;
  }

  .getStarted {
    font-size: 1.625em;
    min-height: 60px;
    white-space: nowrap;
    padding: 0 1.625em;
  }
  .promotionMsg {
    font-size: 1.2em;
    padding: 0 5%;
    padding-bottom: 10px;
  }
}


@media screen and (min-width: 1450px) {
  .getStarted {
    font-size: 1.875em;
    min-height: 70px;
  }

  .signupWrapper {
    max-width: 950px;
  }

  .signupInput {
    height: 70px;
    max-width: 500px;
  }

  .emailSignup  {
    max-width: 950px;
  }
}
