.main {
  padding: 70px 70px;
  color: white;
  background: transparent;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 700px;
  z-index: -1;
  filter:brightness(0.5);

}

.background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title, .subtitle {
  text-align: center;
  max-width: 600px;

}

.title {
  font-size: 3.2rem;
  margin: 0rem auto;
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 1rem auto;
}

.mainStory {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  padding: 70px 20px 0;
  max-width: 900px;
  width: 100%;
  text-align: center;
}


@media screen and (max-width: 950px) {
  .background {
    height: 730px;
  }
  .main {
    padding: 50px 5%;
    color: white;
    background: transparent;
    overflow: hidden;
  }
}

@media screen and (max-width: 550px) {
  .title {
    font-size: 1.75rem;
    margin: 0rem auto;
  }

  .subtitle {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0.5rem auto;
  }

  .background {
    height: 520px;
  }

}
