.main {
  padding: 50px 5%;
  height: 460px;
  color: white;
  background: transparent;
  width: 100%;
  border-bottom: 8px solid #222;

}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 520px;
  z-index: -1;
  filter:brightness(0.4);
}

.background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title, .subtitle {
  text-align: center;
  max-width: 600px;

}

.title {
  font-size: 1.75em;
  margin: 0rem auto;
}

.subtitle {
  font-size: 1.125em;
  font-weight: 400;
  margin: 0.5rem auto;
}

.mainStory {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 950px;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  padding-top: 30px;
}

@media screen and (max-width: 320px) {
  .background {
    width: auto;
  }
}

@media screen and (min-width: 550px)  {
  .background {
    height: 750px;
  }

  .title {
    font-size: 3.125em;
  }

  .subtitle {
    font-size: 1.625em;
    margin: 1em auto;

  }

  .main {
    padding: 70px 45px;
    height: 670px;
  }
  .mainStory {
    padding-top: 50px;

  }
}

@media screen and (min-width: 740px) {
  .mainStory {
    padding-top: 70px;
  }

}

@media screen and (min-width: 949px) {
  .background {
    height: 750px;
  }

  .main {
    padding: 70px 70px;
    height: 632px;
  }

  .title {
    font-size: 3.125em;
  }

  .subtitle {
    font-size: 1.625em;
    margin: 1em auto;
  }

  .mainStory {
    padding-top: 70px;
  }
}

@media screen and (min-width: 1450px) {

  .title {
    font-size: 4em;
  }


  .title, .subtitle {
    max-width: 800px;
  }
}
