.main {
  padding: 50px 5%;
  height: 460px;
  color: white;
  background: transparent;
  width: 100%;
  border-bottom: 8px solid #222;
  overflow: hidden;

}

.background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 520px;
  z-index: -1;
  filter:brightness(0.5);
}

.background img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.title, .subtitle {
  text-align: center;
  max-width: 600px;

}

.title {
  font-size: 1.75rem;
  margin: 0rem auto;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0.5rem auto;
}

.mainStory {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  max-width: 900px;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
  padding-top: 30px;
}


@media screen and (min-width: 550px) and (max-width: 949px) {
  .background {
    height: 750px;
  }

  .title {
    font-size: 3.125rem;
  }

  .subtitle {
    font-size: 1.625rem;
    margin: 1rem auto;

  }

  .main {
    padding: 70px 70px;
    height: 670px;
  }
  .mainStory {
    padding-top: 50px;

  }
}

@media screen and (min-width: 949px) {
  .background {
    height: 750px;
  }

  .main {
    padding: 70px 70px;
    height: 632px;
  }

  .title {
    font-size: 3.125rem;
  }

  .subtitle {
    font-size: 1.625rem;
    margin: 1rem auto;
  }

  .mainStory {
    padding-top: 70px;
  }
}
