.card-wrapper {
  flex: 0 0 50%;
}
.card-image {
  max-width: 98%;
}


.card-link:hover img {
  display: block;
}

@media screen and (min-width: 500px) {
  .card-wrapper {
    flex: 0 0 33.33%;
  }
}


@media screen and (min-width: 800px) {
  .card-wrapper {
    flex: 0 0 25%;
  }
}


@media screen and (min-width: 1100px) {
  .card-wrapper {
    flex: 0 0 20%;
  }
}
