.card-wrapper {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all .3s ease-in 0.2s;
  cursor: pointer;
  overflow: visible;
  transform: translateZ(0);
}
.card-image {
  width: 98%;
  height: 98%;
  object-fit: cover;
}

.card-wrapper:hover {
  transform: scale(1.4);
  z-index: 50;
  transition: all .3s ease-in 0.2s;
}

.card-info {
  width: 100%;
  display: none;
  background-color: #fff;
  transition: all .3s ease-in 0.2s;
}

.card-wrapper:hover .card-info {
  height: 40px;
  position: absolute;
  display: block;
  top: 100%;
  z-index: 1000;
  transition: all .3s ease-in 0.2s;
}

.card-info-wrapper {
  z-index: 1000;
  position: relative;
}

@media screen and (min-width: 500px) {
  .card-wrapper {
    flex: 0 0 33.33%;
  }
}

@media screen and (min-width: 800px) {
  .card-wrapper {
    flex: 0 0 25%;
  }
}

@media screen and (min-width: 1100px) {
  .card-wrapper {
    flex: 0 0 20%;
  }
}
