.header {
  display: flex;
  height: auto;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 10;
  padding: 16px 0 16px 0;
  margin: 0 5%;
}

.header-wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top:0;
  right:0;
  min-width: 320px;
}



@media only screen and (min-width: 550px) and (max-width: 949px) {
  .header {
    margin: 0 45px;
    padding: 24px 0 24px 0;
  }
}

@media only screen and (min-width: 950px) {
  .header {
    margin: 0 56px;
    padding: 24px 0 24px 0;
  }
}
