.signin {
  display: block;
  background-color: #e50914;
  color: white;
  font-size: 14px;
  text-decoration: none;
  border-radius: 3px;
  line-height: normal;
  cursor: pointer;
  font-weight: 420;
  padding: 4px 8px;
}



@media only screen and (min-width: 500px) {
  .signin{
    height: auto;
    padding: 7px 17px;
    font-size: 16px;
  }
}
