.signup-wrapper {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

.signupHeader {
  height: 45px;
  position: relative;
}

.signupLogo {
  margin-left: 3%;
  height: 20px;
  position: absolute;
  margin-top: 10px;
  top: 50%;
  Transform: translateY(-50%);
}

@media screen and (min-width: 440px) and (min-width: 700px){

  .signupHeader {
    height: 75px;
  }

  .signupLogo {
    height: 45px;
    top: 45%;
  }
}

@media screen and (min-width: 701px) and (max-width: 739px){
  .signupHeader {
    height: 90px;
  }

  .signupLogo {
    height: 45px;
    margin-top: 0;
    top: 50%;
  }
}


@media screen and (min-width: 740px) {

  .signup-wrapper {
    background-color: transparent
  }
}
