.input {
  padding: 10px 10px 0;
  width:100%;
  min-height: 100%;
  padding-top: 10px;
  font-size: 1.5rem;
}

.input:focus {
  outline: 1px solid blue;
}

.label {
  position: absolute;
  margin-left: 0.7rem;
  top: 50%;
  color: #8c8c8c;
  transform: translateY(-50%);
  font-size: 14px;

}

.labelWrapper {
  display: block;
  height: 40px;
  position: relative;
  width: 100%
}



@media screen and (min-width: 550px) and (max-width: 739px) {
  .input {
    width:100%;
  }

  .label {
    font-size: 1rem;
  }
}


@media screen and (min-width: 740px) {
  .labelWrapper {
    font-size: 1.2rem;
    height: 60px;
    min-width: 450px;
  }
  .label {
    font-size: 1rem;
  }
}
