.logo {
  height: 24px;
}


.logo-wrapper {
  margin-right: auto;
}


@media only screen and (min-width: 550px) and (max-width: 949px) {
  .logo {
    height: 32px;
  }
}

@media only screen and (min-width: 950px) {
  .logo {
    height: 36px;
  }
}


@media only screen and (min-width: 1450px) {
  .logo {
    height: 45px;
  }
}
