.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: absolute;
  top: 5vh;
  left: 1vw;
  width: 98vw;
  height: auto;
  padding-bottom: 5vh;
  background-color: #181818;
  margin: 0;
  animation: pop 300ms ease-out forwards;
  z-index: 2000;
}

.modal:focus {
  animation: pop-reverse 500ms ease-out forwards;
}

@keyframes pop {
  from {
    transform: translateY(50%) scale(0.8);
    opacity: 0;
  }
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes pop-reverse {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-50%) scale(0.8);
    opacity: 0;
  }
}


@media screen and (min-width: 500px) {
  .modal {
    top: 5vh;
    left: 5vw;
    width: 90vw;
  }
}

@media screen and (min-width: 950px) {
  .modal {
    top: 5vh;
    left: 10vw;
    width: 80vw;
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    top: 5vh;
    left: 15vw;
    width: 70vw;
  }
}
