.background-image {
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  z-index: -1;
  filter:brightness(0.5);
  min-height: 100vh;
  overflow: hidden;
}

.background-image img {
  height: 100vh;
}

@media screen and (min-width: 1900px) and (not (max-aspect-ratio: 16/9)) {
  .background-image img {
    width: 100%;
    height: 100%;
  }
}
